/* 初始化 */
body, iframe, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: hidden;
    font: 12px/1.231 sans-serif;
    font-family: '微软雅黑', Verdana, Geneva, sans-serif;
    *font-size: small;
    height: 100%;
    width: 100%;
}

/* 头部区域 */
header {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 10px;
    height: 70px;
    background: url(../images/logo-bg.png) no-repeat;
}

.logo {
    position: absolute;
    margin-top: 5px;
    margin-bottom: 3px;
    left: 10px;
    float: left;
}

.header-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 30px;
}

.user-info {
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 30px;
}

.user-info a {
    color: #15428B;
    text-decoration: none;
}

.user-info a:hover {
    text-decoration: underline;
}

.user-default {
    position: absolute;
    top: 34px;
    left: -138px;
    margin: 6px;
    width: 360px;
    height: 33px;
}

#now {
    position: absolute;
    top: 45px;
    right: 10px;
    font-size: 14px;
}

.quit {
    margin-left: 5px;
    padding-left: 22px;
    display: inline-block;
    background: url(../images/quit.png) 0 8px no-repeat;
}

select {
    width: auto;
    padding: 2px;
    background: url(../images/input.png) no-repeat 0 -75px;
    border-color: #9A9A9A #CDCDCD #CDCDCD #9A9A9A;
}

button {
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    border-right: 1px solid #c8c8c8;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background: url(../images/input.png) no-repeat;
}

/* 导航区域 */
ul, li {
    list-style: none outside none;
}

nav {
    margin: 0 auto;
    width: 100%;
    height: 26px;
    background: url(../images/nav-back.png) repeat-x 0 0;
    position: absolute;
    z-index: 30;
    padding: 0 5px;
}

nav li.main_nav_on {
    background-position: 0 -30px;
    color: #333;
    font-weight: 700;
}

.firstLevelMenu {
    float: left;
    display: block;
    width: 130px;
    background: #fff url(../images/nav-back.png) 0 0 repeat-x;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer;
}

.secondLevelMenu {
    position: relative;
    padding-left: 5px;
    width: 125px;
    background: url(../images/second-level-menu.png) repeat-x scroll 0 0 #fff;
    color: #000;
    text-align: left;
    font-size: 9pt;
}

.thirdLevelMenu {
    position: relative;
    padding-left: 5px;
    width: 90pt;
    background: url(../images/second-level-menu.png) repeat-x scroll 0 0 #fff;
    color: #000;
    text-align: left;
    font-size: 9pt;
}

.firstLevelMenuSelected {
    background: url(../images/menu.gif) repeat-x scroll 0 0 #fff;
}

.firstLevelMenuOn, .secondLevelMenuOn, .secondLevelMenuSelected, .thirdLevelMenuOn, .thirdLevelMenuSelected {
    background: url(../images/blue.gif) repeat-x scroll 0 0 #fff;
}

.arrow {
    padding-right: 8px;
    background: url(../images/item-pointer.gif) no-repeat 90% 4px;
    color: #a9a9a9;
    cursor: pointer;
}

.firstLevelMenu ul, .secondLevelMenu ul {
    display: none;
}

/* 内容主区域 */
main {
    position: absolute;
    height: auto;
    top: 100px;
    width: 100%;
    margin-bottom: 39px;
}

iframe {
    width: 100%;
    height: 100%;
}

/* 页脚区域 */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 2px;
    padding: 8px 0 0;
    width: 100%;
    height: 30px;
    border-top: 1px solid #ccc;
    background: url(../images/logo-bg.png) no-repeat;
    box-shadow: -2px -2px 3px #aaa;
    text-align: center;
    line-height: 24px;
}

footer a {
    color: #666;
    margin-left: 8px;
    margin-right: 8px;
}
